<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:include="layout :: site-head">
    <title>Users</title>
</head>
<body>
<header th:include="layout :: site-header"></header>
<div class="container-fluid" id="app">
<button class="btn btn-primary" v-on:click="createUser">Create new user</button>
<div class="modal fade" tabindex="-1" role="dialog" id="createModal" aria-labelledby="createModal" aria-hidden="true">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
			<form id="createForm">
				<div class="modal-header">
					<h5 class="modal-title">Create account</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="fullName">Full Name</label>
						<input type="text" class="form-control" name="fullName" placeholder="Full Name"/>
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" placeholder="sample@domain.com"/>
					</div>
					<div class="form-group">
						<label for="admin">Admin</label>
						<input type="checkbox" class="form-check-input" name="admin"/>
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" name="password"/>
					</div>
					<div class="form-group">
						<label for="confirmedPassword">Confirm Password</label>
						<input type="password" class="form-control" name="confirmedPassword"/>
					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" v-on:click="createSubmit" value="create"/>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="editModal" aria-labelledby="editModal" aria-hidden="true">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
			<form id="editForm">
				<div class="modal-header">
					<h5 class="modal-title">Edit account</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="fullName">Full Name</label>
						<input type="text" class="form-control" name="fullName" placeholder="Full Name" v-model="fullName"/>
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" placeholder="sample@domain.com" v-model="email"/>
					</div>
					<div class="form-group">
						<label for="admin">Admin</label>
						<input type="checkbox" class="form-check-input" name="admin" v-model="admin"/>
					</div>
					<div class="form-group">
						<label for="password">New password</label>
						<input type="password" class="form-control" name="password" v-model="password"/>
					</div>
					<div class="form-group">
						<label for="confirmedPassword">Confirm new password</label>
						<input type="password" class="form-control" name="confirmedPassword" v-model="passwordConfirmed"/>
					</div>
				</div>
				<div v-if="password !== passwordConfirmed" class="alert alert-danger" role="alert">
                                      Passwords doesnt match
                                    </div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" v-on:click="editSubmit" value="Edit"/>
					<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal" aria-labelledby="deleteModal" aria-hidden="true">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Delete account</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Full Name : {{selectedUser.fullName}}</p>
				<p>Email: {{selectedUser.email}}</p>
				<p>Admin: {{selectedUser.admin}}</p>
			</div>
			<div class="modal-footer">
				<input type="submit" value="Delete" class="btn btn-danger" v-on:click="deleteSubmit"/>
				<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
	<table class="table table-hover table-responsive-sm">
		<caption>List of users</caption>
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">FullName</th>
				<th scope="col">Email</th>
				<th scope="col">Admin</th>
				<th scope="col">...</th>
			</tr>
			<tr>
				<th></th>
				<th><input type="text" v-model="fullNameFilter" placeholder="Full Name filter"/></th>
				<th><input type="text" v-model="emailFilter" placeholder="Email filter"/></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			<tr v-for="user in users" v-if="filter(user)">
				<td scope="row">{{user.id}}</td>
				<td>{{user.fullName}}</td>
				<td>{{user.email}}</td>
				<td>{{user.admin}}</td>
				<td>
					<a class="btn btn-primary" :href="'/users/' + user.id">view</a>
					<button class="btn btn-primary" v-on:click="editUser(user)">edit</button>
					<button class="btn btn-primary" v-on:click="deleteUser(user)">delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<footer th:replace="layout :: site-footer" ></footer>
<script th:replace="layout :: vueJS"></script>
<div th:replace="layout :: bottom-script"></div>
<script th:inline="javascript" type="application/javascript">
/*<![CDATA[*/
var users = /*[[${users}]]*/[];
new Vue({
  el: '#app',
  data: {
    users: users,
    selectedUser: users[0],
    fullNameFilter: "",
    emailFilter: "",
    password: "",
	passwordConfirmed: "",
	fullName: "",
	email: "",
	admin: false,
  },
  methods:{
      filter: function(user){
          return user.fullName.includes(this.fullNameFilter) && user.email.includes(this.emailFilter);
      },
      editUser: function(user){
          this.selectedUser = user;
          this.fullName = user.fullName;
          this.email = user.email;
          this.admin = user.admin;
          $("#editModal").modal('show')
      },
      deleteUser: function(user){
          this.selectedUser = user;
          $("#deleteModal").modal('show')
      },
      createUser: function(user){
          $("#createModal").modal('show')
      },
      editSubmit: function(){
          var self = this;
          $.ajax({
			 type: "POST",
			 url: "/users/edit/"+ self.selectedUser.id,
			 data: $("#editForm").serialize(),
			 success: function(data)
			 {
			     if(data.status === 1){
					self.selectedUser.fullName = self.fullName;
					self.selectedUser.email = self.email;
					self.selectedUser.admin = self.admin;
				 }else{
			         console.log(data);
					 alert(data.errorMessage);
				 }
				 $("#editModal").modal('hide')
			 }
		   });
      },
      deleteSubmit: function(){
          var self = this;
          $.ajax({
			 type: "GET",
			 url: "/users/delete/"+ self.selectedUser.id,
			 success: function(data)
				 {
				     if(data.status === 1){
				         var index = self.users.indexOf(self.selectedUser);
							if (index > -1) {
								self.users.splice(index, 1);
							}
				     }else{
				         console.log(data);
				         alert(data.errorMessage);
				     }
					 $("#deleteModal").modal('hide')
				 }
		   });
      },
      createSubmit: function(){
          var self = this;
          console.log("createSubmit");
          $.ajax({
			 type: "POST",
			 url: "/users/create/",
			 data: $("#createForm").serialize(),
			 success: function(data)
			 {
				 if(data.status === 1){
				     console.log(data);
				     var newUser = {};
				     newUser.id = data.content.id;
				     newUser.fullName = data.content.fullName;
				     newUser.email = data.content.email;
				     newUser.admin = data.content.admin;
					 self.users.push(newUser)
				 }else{
				     console.log(data);
					 alert(data.errorMessage);
				 }
				 $("#createModal").modal('hide')
			 }
		 });
      }
  }
})
/*]]>*/
</script>
</body>
</html>