<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title th:text="${user.fullName}">View Post</title>
</head>

<body>

<header th:replace="layout :: site-header" ></header>
<main id="app">
  <article>
    <h2 class="title" th:text="${user.id}">Post Title</h2>
    <p class="content" th:utext="${user.fullName}">Post content</p>
    <p class="content" th:utext="${user.email}">Post content</p>
  </article>
</main>
<footer th:replace="layout :: site-footer" ></footer>
</body>
</html>